<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySmart Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="logo">StudySmart</div>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('create_schedule') }}">Create Schedule</a>
            
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2022 StudySmart Inc. | <a href="mailto:info@studysmart.com">Contact Us</a></p>
    </footer>
</body>
</html>
